body {
  background: #f2eab4;
}

.first-image,
.second-image,
.third-image,
.fourth-image {
  margin: 50px;
}

/*I like this postioning for the text on the right */
.first-event {
  border: 10px;
  margin-bottom: 100px;
  margin-left: 400px;
  margin-top: 0%;
  padding-bottom: 100px;
  padding-left: 400px;
  padding-top: 100px;
  position: relative;
  bottom: 445px;
  height: 200px;
  left: 50px;
  position: relative;
}

.second {
  border: 10px;
  margin: 50px;
}

.second-event {
  border: 10px;
  margin-bottom: 100px;
  margin-left: 400px;
  margin-top: 0%;
  padding-bottom: 200px;
  padding-left: 400px;

  /*padding-bottom: 100px;*/

  padding-top: 100px;
  position: relative;
  bottom: 445px;
  height: 200px;
  left: 20px;
  position: relative;
}

/*ICONS Font- awesome Icons Free,
easy to running,
simple syntax */
.fa-facebook-square,
.fa-instagram {
  color: #5c5345;
  float: right;
  margin: 1%;
}
