/*Inline Block*/

.button {
  background-color: #fafafa;
  border: none;
  margin-left: 500px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

h1,
h2 {
  font-family: "Tangerine", cursive;
  text-align: center;
  color: #5c5345;
  font-weight: 200;
}

hr {
  display: block;
  width: 0%;
  min-width: 30%;
  max-width: 100%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

a {
  font-size: 30px;
  color: #515052;
  margin: 20px;
  display: block;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  padding: 15px;
  font-family: "Wire One", sans-serif;
  font-weight: 500;
}

a:hover {
  color: #ff006e; /*#ff9f1c*/ /*#44c03a;*/
}

/* Display None
opacity:0
visibility: hidden; */

/*div {
  background: #e40066;
  margin: 10px;
  color: #03cea4;
}*/

/* Last Rule Order */
/* the last command always goes */

/* Background- Size */
/* background-size: cover; streches out the picture to cover the whole div */

/*background-position */
/*background-position: center; puts the image in the center of the div */

/*background-attachment */

.banner,
.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: #f0f757;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background: url("./vango.JPEG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: linear-gradient(
      /* rgba(0, 0, 0, 0.5),*/ /*#273043,*/ rgba(0, 0, 0, 0.1),
      #df3b82
    ),
    url("./vango.JPEG") center/cover no-repeat fixed;
}

.colorzilla {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #fefcea 0%,
    #f1da36 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fefcea 0%,
    #f1da36 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fefcea 0%,
    #f1da36 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.bannerA {
  border: 5px solid #85eac2;
  padding: 10px;
}

img {
  float: right;
  height: 300px;
  margin: 10px;
}

p {
  clear: right;
}

h2 {
  clear: both;
}

/*Position Absolute*/
/*Postion Fixed*/

/* Media Queries
Responsive Design
Style Elements on Different Screen Size
min-width: --- start from
max-width: --- up to
Mobile First
*/

body {
  background: #ffa630;
}

.waterloo {
  background: #ecc8af;
}

h3 {
  color: #fbf0bb;
  background: #605b48;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  body {
    background: #cdeac0;
    /*background: #eef4d7;*/
  }
}

/*
z-index ---| z-axis
position:static --- does not work
*/

/*
pseudo elements ::before ::after CONTENT not element content: ''--- required 
img --- does not work

*/
.problem p::before {
  content: "hello";
  display: block;
  background: #969a97;
  font-weight: bold;
  font-size: 2rem;
  color: #f2545c;
}

.problem p::after {
  content: "after";
  font-weight: bold;
  font-size: 2rem;
  color: #f3f3f3;
  display: block;
  background: #323796;
}

.wordpress {
  width: 60vw;
  margin: 100px auto;
  border: 2px solid #ff1b02;
  width: 100%;
  display: block;
}

/* Basic Selectors */
h5 {
  color: #080a6d;
}

.kylie {
  color: #080a6d;
}

#heading {
  font-size: 40px;
  text-transform: uppercase;
  color: #97dffc;
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  color: #ea006e;
}

.kylie {
  letter-spacing: 20px;
}

/* Descendant and Child Combinators */

/*div h1 {
  color: #ffbcb5;
} */

.headerB h1 {
  color: #ffbcd5;
}

.headerA h6 {
  color: #dbc962;
}

/* Hover */

.witch:first-line {
  font-weight: bold;
}

.witch:first-letter {
  font-size: 3rem;
}

.witch:hover {
  font-size: 60px;
  color: #9b1551;
  background: #e2d2ef;
}

a:hover {
  text-decoration: none;
}

/* :root root element of the document html elements 
general styles css varibles */

:root {
  font-size: 150%;
}

/* 1rem = 16px */

/* h1 {
  font-size: 3rem;
} */

.absolute {
  font-size: 24px;
}

.responsive {
  font-size: 1.5rem;
}

/* transform: translate(), scale(), rotate(), skew()*/

/* transistion: change over time
transistion-property:
transistion-doration: */

.les {
  background: #857e61;
}

.mis {
  background: #160c28;
}

.rabel {
  background: #cc2936;
}

.rabel:hover {
  background: #ffe066;
  transition-property: background;
  transition-duration: 4s;
}

.les:hover {
  background: #000000;
}

.mis:hover {
  border-radius: 50%;
  transition-duration: 3s;
}

/* 
transition: change over time
tansition-delay:
shorthand */

.collegeville {
  background: #000000;
}

.collegeville:hover {
  background: #1be7ff;
  border-radius: 50%;
  transition-property: background, border-radius;
  transition-duration: 3s;
  transition-delay: 3s;
}

.subway {
  background: #ffffff;
  transition: background 3s 2s;
  border-radius: 5s 1s;
}

.subway:hover {
  border-radius: 50%;
  background: #000000;
}

.definition {
  background: #f17344;
  transition: all 4s 5s;
}

.definition:hover {
  border-radius: 50%;
  background: #ea8b71;
}

/* how the transition takes place
transition-timing-function:
transition:all 3s here 5s;
ease = default 
ease = slow start, fast, slow end
linear = same speed start to end
ease-in = slow start
ease-out = slow end
ease-in-out = slow start, fast, slow end */

.default,
.ease,
.linear,
.ease-in,
.ease-out,
.ease-in-out {
  background: #91cebc;
  width: 100px;
  height: 100px;
  color: #071e22;
  margin: 15px;
  transition: all 1s linear;
}

.default:hover {
  transform: translateX(100px);
}

.ease:hover {
  transform: translateX(100px);
}

.ease {
  transition-timing-function: ease;
}

.linear:hover {
  transform: translateX(100px);
}

.linear {
  transition-timing-function: linear;
}

.ease-in:hover {
  transform: translateX(100px);
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out:hover {
  transform: translateX(100px);
}

.ease-out {
  transition-timing-function: ease-in;
}

.ease-in-out:hover {
  transform: translateX(100px);
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

/* Transition 0 = 100% 
ANIMATION 0 1% 2% ..... 100% 
*/

/* animation-fill-mode:what values are applied by the animation outside the time it is executing */

@keyframes tree {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateX(200px);
    opacity: 0.25;
    background: #bbf49f;
  }
  50% {
    transform: translateX(-100px);
    opacity: 1;
    background: #d8ab2e;
  }
  100% {
    transform: translateX(0px);
    opacity: 0.5;
    background: #44c03a;
  }
}

/* 
CSS VARIABLES AKA Customs Properties hold a value and reuses it
--varName:value 
property:var(--Name)
scope 
:root{} === global 
element === local 
any property
*/

/* 
How to set up uniform colors & functions for the whole project

:root{
  --primaryColor: #da94ae; 
  --secondaryColor: #6b635f;
  --mainTransition: all 0.4s linear;
}

.heading{
  color: var(--primaryColor);
}

.second-heading{
  color: var(--primaryColor);
}

.second-heading:hover{
  color: var(--secondaryColor); 
  transition: var(--mainTransition);
}

ICONS
Font- awesome Icons
Free, easy to running, simple syntax

*/

.fa-facebook-square,
.fa-instagram {
  color: #5c5345;
  float: right;
  margin-right: 30px;
}

/* text-shadow
box-shadow
*/
